<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
secrets.plist
LiveTonight

Created by Tanja  Stroble on 1/11/18.
Copyright (c) 2018 Tanja  Stroble. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>SONGKICK_KEY</key>
    <string>OHZL8ET7eTocn9Nu</string>
  </dict>
</plist>
